.App {
  text-align: center;
}

.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

#logo {
  border: solid black;
  height: 7em;
  width: 7em;
}

#nav {
  border: solid black;
  height: 20em;
  width: 15em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.navItems {
  height: 2em;
  width: 10em;
  border: solid black;
}

#resLink {
  border: solid black;
  height: 7em;
  width: 20em;
}